@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif !important;
  font-style: normal;
  color: #343434;
  font-size: 2rem;
}

.contact-form input:-webkit-autofill,
.contact-form textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #343434 inset !important;
  -webkit-text-fill-color: white !important;
}

.contact-form textarea::-webkit-scrollbar {
  display: none;
}

.contact-form textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}